/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */


/*Общие стили*/

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

/*Ссылки*/

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.centered {
  text-align: center;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.page-header__top a,
.main-menu a,
.footer-menu__list a {
  color: #ffffff;
}

/*Списки*/

.main-menu__list,
.breadcumbs,
.service-block__menu,
.footer-menu__list,
.services-menu__list,
.sort,
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Кнопки*/

.btn {
  display: inline-block;
  min-height: 38px;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  background-color: #ee3643;
  /*box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.35);*/
}
  .btn:hover, .btn:focus {
    background-color: #ca2c37;
  }

.btn:active {
  background-color: #ba2732;
}

.btn:visited {
  background-color: #ff5357;
}

  .btn.btn--basket {
    background-color: #63a63e;
    font-size: 17px;
    min-height: 42px;
    width: 150px;
    line-height: 42px;
    text-align: center;
  }
    .btn.btn--basket:hover, .btn.btn--basket:focus {
      background-color: #5fbb2d;
    }
    .btn.btn--basket:active {
      color: rgba(255, 255, 255, 0.6);
      background-color: rgba(95, 187, 45, 0.6);
    }
    .btn.btn--basket:visited {
      background-color: #518534;
    }

  .btn.btn--uppercase {
    text-transform: uppercase;
  }
  .btn.btn--login {
    width: 120px;
    min-height: 45px;
    display: block;
  }
    .btn.btn--login:hover, .btn.btn--login:focus {
      color: #ee3643;
    }
    .btn.btn--login:active, .btn.btn--login:active {
      color: rgba(0, 0, 0, 0.3);
    }
  .btn.btn--logout {}
  .btn.btn--registration {
    width: 150px;
    height: 45px;
    display: block;
  }
    .btn.btn--registration:hover, .btn.btn--registration:focus {
      color: #ee3643;
    }
  .btn.btn--buy {
    color: #ffffff;
    background-color: #63a63e;
    text-transform: uppercase;
  }
    .btn.btn--buy:hover, .btn.btn--buy:focus {
      background-color: #5fbb2d;
    }
    .btn.btn--buy:active {
      background-color: #518534;
    }


/*Заголовки*/

.heading2, .heading3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: normal;
}

.heading2 {
  font-size: 30px;
  line-height: 30px;
  color: #3d546e;
  text-transform: uppercase;
}

.main-title {
  font-size: 30px;
  line-height: 30px;
  color: #3d546e;
  text-transform: uppercase;
  margin-top: 0;
}

/*Метка "новинка"*/

.label-new {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ff5357;
}

/*ПО СТРУКТУРЕ САЙТА*/
/*Шапка*/

.page-header {
  font-family: "Cuprum","Arial",sans-serif;
  background-color: #f3f7f8;
  overflow: hidden;
}

  /*Верхняя плашка с поиском*/
  .page-header__top {
    min-height: 42px;
    background-color: #293449;
    text-align: center;
  }
    .page-header__top .wrapper {
      min-height: 42px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    }

      .logo {
        width: 220px;
        min-height: 42px;
        font-size: 24px;
        line-height: 42px;
        box-shadow: 0px 5px 0px 0px  #c23f42;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        background-color: #ee3643;
        font-weight: normal;
        margin: 0;
        margin-right: auto;
      }
      .search {
        margin-right: auto;
      }
        .search__label {
          padding-left: 9px;
          position: absolute;
          top: 12px;
        }

        .search__input-field {
          max-width: 220px;
          min-height: 42px;
          margin-left: 20px;
          padding: 10px;
          color: #ffffff;
          background-color: #293449;
          border: none;
          font-family: "Cuprum","Arial",sans-serif;
          font-size: 17px;
          line-height: 18px;
        }

        .search__input-field:focus {
          background-color: #ffffff;
          border: none;
        }

      .page-header__user-control {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
      }

      .bookmarks, .basket {
        font-size: 17px;
        min-height: 42px;
        width: 150px;
        line-height: 42px;
        text-align: center;
      }

      .bookmarks:hover, .basket:hover,
      .bookmarks:focus, .basket:focus {

      }

      .bookmarks:active, .basket:active {
        color: rgba(255, 255, 255, 0.6);
      }

        .basket.basket--not-empty {
          background-color: #ee3643;
        }

  /*Блок с заголовком и контактами*/
  .page-header__main {
    padding-left: 50px;
    padding-top: 50px;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
    .site-name {
      width: 200px;
      margin: 0;
      font-size: 16px;
      font-style: italic;
      line-height: 23px;
      font-weight: 300;
      color: #ff5357;
      text-transform: none;
    }
    .contact-block {
      text-align: center;
      display: flex;
      flex-direction: column;
    }
      .contact__phone {
        color: #fb463c;
        width: 265px;
        min-height: 46px;
        font-size: 21px;
        /*line-height: 46px;*/
        border: 3px solid #ffffff;
        padding-left: 19px;
        padding-top: 7px;
      }
      .contact__address {
        color: #3d546e;
        font-size: 14px;
        line-height: 24px;
      }
    .user-block {
      display: flex;
      width: 280px;
      justify-content: space-between;
      text-align: center;
    }
      .user-block.user-block--person {
        flex-direction: column;
      }

      .user-block .btn {
        color: #000000;
        font-size: 21px;
        line-height: 45px;
        background-color: #ffffff;
      }
      .user-block__wrap {
        width: 300px;
        min-height: 45px;
        background-color: #ffffff;
      }
      .user-block__button-logout {}
      .user-block__inner-control {
        font-size: 16px;
        line-height: 18px;
        color: #32425c;
        text-decoration: underline;
      }

  /*Главное меню*/
  .main-menu {
    min-height: 55px;
    margin-top: 40px;
    margin-bottom: 65px;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    background-color: #3d546e;
    border-bottom: 6px solid #33445a;
  }
    .main-menu__list {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
      .main-menu__item {
        display: inline-block;
        width: 128px;
        min-height: 55px;
        line-height: 55px;
        text-align: center;
      }
        .main-menu__item:hover, .main-menu__item:focus {
          background-color: #293449;
        }
        .main-menu__item:active {
          color: rgba(255, 255, 255, 0.5);
          background-color: #1d2739;
        }

/*Хлебные крошки*/
.breadcumbs {
  min-height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
  .breadcumbs__item {
    line-height: 18px;
    padding-right: 50px;
  }
    .breadcumbs__item a {
      color: #000000;
      text-transform: uppercase;
    }

/*Блок с картинками и кнопками*/
.promo-block {
  min-height: 410px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
  .promo-block__item {
    position: relative;
    background-color: #cccccc;
    padding: 25px;
  }

    .promo-block__item .btn {
      width: 135px;
      background-color: rgba(0, 0, 0, 0.1);
      text-align: center;
    }

      .promo-block__item .btn:hover, .promo-block__item .btn:focus {
        background-color: rgba(0, 0, 0, 0.2);
      }
      .promo-block__item .btn:active {
        background-color: rgba(0, 0, 0, 0.3);
      }

    .promo-block__item.promo-block__item--small {
      width: 300px;
      min-height: 125px;
      padding: 20px;
      text-align: left;
      background-color: red;
    }

    .slider {
      position: relative;
      width: 620px;
      min-height: 270px;
      order: 1;
    }
      .slider__item {}
        .slider__wrap {
          position: absolute;
          min-height: 105px;
          padding-left: 25px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: left;
        }
          .slider__title {
            margin:0;
            font-family: "Cuprum", "Arial", sans-serif;
            font-weight: normal;
            font-size: 36px;
            line-height: 30px;
            font-weight: bold;
            text-transform: uppercase;
            color: #ffffff;
          }
          .slider__description{
            font-family: "PT Sans", "Arial", sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
          }
          .slider__control {
            position: absolute;
            cursor: pointer;
          }
            .slider__control.slider__control--left {
              width: 22px;
              min-height: 40px;
              top: calc(50% - 20px);
              left: 25px;
              background: transparent url(/img/icon-left.svg) 0 0 no-repeat;
              font-size: 0;
            }
            .slider__control.slider__control--right {
              width: 22px;
              min-height: 40px;
              top: calc(50% - 20px);
              right: 25px;
              background: transparent url(/img/icon-right.svg) 0 0 no-repeat;
              font-size: 0;
            }

            .slider__control.slider__control--link {
              left: 25px;
              bottom: 25px;
              width: 195px;
            }

        .slider__image {}
    .promo-block__column-1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      width: 620px;
    }
    .promo-block__column-2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .promo-block__item-title {
      margin: 0px;
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      color: #ffffff;
    }

    .promo-block__item.promo-block__item--color-orange {
      background-color: #ffbf47;
    }
    .promo-block__item.promo-block__item--color-blue {
      background-color: #3bbce3;
    }
    .promo-block__item.promo-block__item--color-pink {
      background-color: #dc91d8;
    }
    .promo-block__item.promo-block__item--color-green {
      background-color: #8ed78f;
    }
    .promo-block__item.promo-block__item--color-lightorange {
      background-color: #ffc047;
    }

.heading-wrap {
  padding: 0 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
}

/*Популярные товары*/
.popular-products {
  margin-top: 55px;
}
  .popular-products__title {}
  .popular-products__link {
    width: 255px;
  }
  .products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
    .products__item {
      margin-bottom: 20px;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      width: 220px;
      min-height: 320px;
      font-family: "PT Sans", "Arial", sans-serif;
      border: 1px solid #e5e5e5;
      flex-basis: 220px;
    }
      .products__item:hover, .products__item:focus {
        border:none;
        box-shadow: 0px 10px 25px 0px #293449;
      }

      .products__control {
        margin: auto;
        position: absolute;
        top: 0;
        left: calc(50% - 35px);
        display: flex;
        flex-direction: column;
        text-align: center;
      }
        .products__control-bookmark {
          color: #000000;
          background-color: #ffffff;
          text-transform: uppercase;
          border: 2px solid #63a63e;
        }
      .products__item-picture {}
      .products__item-title {
        font-family: "PT Sans", "Arial", sans-serif;
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        color: #000000;
        text-align: center;
      }
      .products__item-price {
        font-size: 17px;
        font-weight: bold;
        line-height: 18px;
        color: #ffffff;
        background-color: #ee3643;
        text-align: center;
      }
        .products__item-price.products__item-price--strike {
          font-size: 17px;
          font-weight: bold;
          line-height: 18px;
          color: #a9a9a9;
          text-decoration: line-through;
          text-align: center;
        }

/*Популярные производители*/
.popular-manufacturers {}
  .popular-manufacturers__link {
    width: 255px;
  }
  .popular-manufacturers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
    .popular-manufacturers__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 220px;
      min-height: 145px;
      margin-bottom: 20px;
      border: 1px solid #e5e5e5;
    }
      .popular-manufacturers__item:hover, .popular-manufacturers__item:focus {
        border:none;
        box-shadow: 0px 10px 25px 0px #293449;
      }

      .popular-manufacturers__item-picture {}

/*Сервисный блок*/
.service-block {
  margin-top: 65px;
  padding: 65px 0;
  background-color: #f4f7f9;
}
  .service-block__menu {
    position: relative;
    margin-top: 40px;
  }
    .service-block__item-title {
      margin-top:0;
      font-family: "Cuprum","Arial",sans-serif;
      font-weight: normal;
      font-size: 36px;
      line-height: 24px;
      color: #3d546e;
      text-transform: uppercase;
    }

    .service-block__item {
      left: 320px;
      position: absolute;
      top: 0;
    }

    .service-block__menu-item {
      position: absolute;
      left: 50%;
      bottom: 15px;
      z-index: 100;
      visibility: hidden;
    }
    .service-block__menu li label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 240px;
      min-height: 60px;
      background-color: #3d546e;
      color: #ffffff;
      box-shadow: inset 0 0 1px #33445a;
      font-size: 21px;
      line-height: 30px;
      font-weight: bold;
    }

    .service-block__item {
      visibility: hidden;
      width: 400px;
    }

    .service-block__item .btn {
      display: block;
      width: 195px;
      margin-top:30px;
    }

    .service-block__menu-item:checked ~ label {
      background-color: #ffffff;
      color: #3d546e;
      box-shadow: none;
    }

    .service-block__menu-item:checked ~ .service-block__item {
      visibility: visible;
    }




/*Информация о компании и контакты*/
.two-columns-wrapper {
  display: flex;
}
  .information-block {
    margin-right: 115px;
  }
    .information-block__title {
      font-size: 30px;
      line-height: 24px;
      text-transform: uppercase;
    }
    .information-block p {}
    .information-block__list {}
      .information-block__list li {
        margin-top: 25px;
      }

      .information-block__item {
        font-family: "Cuprum", "Arial", sans-serif;
        font-size: 18px;
        line-height: 20px;
      }
    .information-block .btn {
      width: 220px;
      margin-top: 40px;
    }

  .contacts-block {
    width: 300px;
  }
    .contacts-block__title {
      font-size: 30px;
      line-height: 24px;
      text-transform: uppercase;
    }
    .contacts-block .btn {
      width: 300px;
      margin-top:40px;
    }

/*Подвал*/
.footer {
  margin-top: 85px;
  font-family: "Cuprum","Arial",sans-serif;
}
.footer-row {
  display: flex;
  justify-content: space-between;
}
.footer-row:not(:first-child) {
  margin-top: 30px;
}

  .footer .logo {
    min-height: 63px;
    font-size: 30px;
    line-height: 63px;
    margin-right: auto;
  }
  .footer-top {
    min-height: 194px;
    background-color: #32425c;
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
  }
    .footer-menu {
      display: flex;
      width: 600px;
      align-items: flex-end;
    }
      .footer-menu__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
        .footer-menu__list a:hover, .footer-menu__list a:focus {
          text-decoration: underline;
        }

        .footer-menu__list a:active{
          opacity: 0.5;
          text-decoration: none;
        }
    .contacts {
      color: #ffffff;
      margin-right: auto;
    }
      .contacts a{
        color: #ffffff;
        display: block;
      }
    .services-menu {
      width: 525px;
    }
      .services-menu__list {
        display: flex;
        justify-content: space-between;
      }
        .services-menu__list a{
          color: #ffda96;
        }
        .services-menu__list a:hover, .services-menu__list a:focus {
          text-decoration: underline;
        }
        .services-menu__list a:active {
          opacity: 0.5;
          text-decoration: none;
        }

  .footer-bottom {
    min-height: 107px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
  }

    .footer-bottom .wrapper {
      min-height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .copyright {
      width: 230px;
    }
    .social {}
      .social__link {}
        .social__link:hover, .social__link:focus, .social__link:active {
          background-color: #ee3643;
        }
        .social__link.social__link--vk {}
        .social__link.social__link--fb {}
        .social__link.social__link--insta {}
    .feedback {}
    .authors {}
    .feedback a, .authors a {
      display: block;
      color: #ffda96;
    }
      .feedback a:hover, .feedback a:focus, .authors a:hover, .authors a:focus {
        text-decoration: underline;
      }
      .feedback a:active, .authors:active {
        text-decoration: none;
        color: #ee3643;
      }

/*Каталог, фильтр и поиск*/
.catalog {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
  .filter {
    max-width: 220px;
  }
    .filter__title {
      min-height: 36px;
      display: block;
      padding: 0px 15px;
      margin-bottom: 22px;
      line-height: 36px;
      background-color: #f7f3ec;
      text-transform: uppercase;
    }
    .filter__form {}
      .filter__form fieldset {
        border: none;
      }
        .filter__form legend {
          font-size: 17px;
          line-height: 30px;
          text-transform: uppercase;
        }
  .catalog__main {
    max-width: 700px;
  }
  .sort {
    min-height: 36px;
    padding: 0px 15px;
    margin-bottom: 22px;
    line-height: 36px;
    display: flex;
    background-color: #f7f3ec;
    text-transform: uppercase;
  }

  .sort li {
    padding: 0 15px;
  }

    .sort__title {
      line-height: 36px;
      margin-right: auto;
    }
    .sort__type a {
      color: rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid #ee3643;
    }

    .sort__type a:hover, .sort__type a:focus {
      color: #000000;
    }

    .sort__type a:active {
      color: #ee3643;
      border: none;
    }

      .sort__type.sort__type--current a {
        color: #ee3643;
      }

/*Пагинация*/
.pagination {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
}
  .pagination__item {
    border: 1px solid #e5e5e5;
    min-height: 38px;
    line-height: 38px;
    padding: 0px 15px;
    margin-right: 15px;
  }

    .pagination__item:hover, .pagination__item:focus {
      border: 1px solid #bdc6ca;
    }

    .pagination__item:active {
      border: 1px solid #ee3643;
    }

    .pagination__item.pagination__item--current {
      border: 1px solid #e5e5e5;
      min-height: 38px;
      line-height: 38px;
      padding: 0px 15px;
      color: #ffffff;
      background-color: #ee3643;
      margin-right: 15px;
    }

/*Инфо блок на странице каталога*/
.info-block {}

/*Модальное окно*/
.modal {
  display: none;
  margin: 0px auto;
  position: relative;
}

  .modal.modal--write-us {
    width: 620px;
    min-height: 425px;
    border: 1px solid #000000;
    border-top: 5px solid #ff5257;
    box-shadow: 20px 0 40px 0 rgba(0, 0, 0, 0.25);
  }
  .modal.modal--map {
    width: 940px;
    height: 450px;
    box-shadow: 0 0 16px 0 rgba(47, 42, 43, 0.5);
  }
    .map {}

/*Формы*/
.form {}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
}

  .write-us {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
    padding-top: 45px;
  }

  .write-us .wrapper {
    width: 460px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .write-us .wrapper-submit {
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
  }

  .write-us label {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: : 18px;
    margin-bottom: 20px;
  }

  .write-us input[type="text"] {
    display: block;
    width: 220px;
    min-height: 38px;
    padding: 10px 15px;
    font-size: 13px;
    line-height: : 18px;
  }

  .write-us textarea {
    display: block;
    width: 460px;
    min-height: 114px;
    padding: 10px 15px;
    font-size: 13px;
    line-height: : 18px;
  }

  .write-us__submit {
    width: 460px;
    margin: 37px auto;
  }
